<header>
	<h1>EVE Corp Center</h1>
	<nav>
		<ul>
			<li><a href="#">Home</a></li>
			{% if current_user is empty %}
				<li><a href="/user/login">Login</a></li>
			{% else %}
				<li><a href="/user/logout">Logout</a></li>
			{% endif %}
		</ul>
	</nav>
</header>