# Start EVE Corp Center
DirectoryIndex index.php

Options +FollowSymlinks -MultiViews

RewriteEngine on

RewriteRule ^design/* - [L]
RewriteRule ^var/* - [L]
RewriteRule ^robots\.txt - [L]
RewriteRule ^favicon\.ico - [L]

RewriteRule .* ECCApp.php

# End EVE Corp Center