    <h1>Connection necessaire pour acceder au contenu</h1>
    <form action="/user/login" method="post">
        <input name="ECCUserPage" type="hidden" value="{{ object.url }}"/>
        Pour acceder au contenu que vous voulez, vous devez être <input type="submit" value="connecté"/>.
    </form>
