{% extends "layout.html.twig" %}


{% block title %}Change Password{% endblock %}


{% block content %}
    {% if errors is defined %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if succes is defined %}
        <p style="color: green">{{ succes }}</p>
    {% endif %}

    <form action="/user/password" method="post">
        <input type="hidden" name="ECCUserPassword" value="form">

        <label for="ECCUserPassword_oldpasswd">Your old password :</label>
        <input type="password" id="ECCUserPassword_oldpasswd" name="ECCUserPassword_oldpasswd" value="" placeholder="********">
        <label for="ECCUserPassword_passwd">Your new password :</label>
        <input type="password" id="ECCUserPassword_passwd" name="ECCUserPassword_passwd" value="" placeholder="********">
        <label for="ECCUserPassword_repasswd">Confirm your new password :</label>
        <input type="password" id="ECCUserPassword_repasswd" name="ECCUserPassword_repasswd" value="" placeholder="********">

        <input type="submit" value="Change">
    </form>
{% endblock %}