.navbar-nav {
	> li {
		> a {
			@include font-size(12px);
		}
		@include sm-devices {
			> a {
				padding: 26px 30px;
			}
			&:not(.dropdown2){
				> a {
					&::before {
						background-color: $blanc;
						bottom: 0;
						left: 0;
						right: 0;
						content: '';
						height: 2px;
						position: absolute;
						-webkit-transform: scaleX(0);
						-moz-transform: scaleX(0);
						-ms-transform: scaleX(0);
						-o-transform: scaleX(0);
						transform: scaleX(0);
						-webkit-transition: all 0.3s;
						-moz-transition: all 0.3s;
						-ms-transition: all 0.3s;
						-o-transition: all 0.3s;
						transition: all 0.3s;
						visibility: hidden;
						width: 100%;
					}
					&:hover, &:focus, &.active {
						&::before {
							-webkit-transform: scaleX(1);
							-moz-transform: scaleX(1);
							-ms-transform: scaleX(1);
							-o-transform: scaleX(1);
							transform: scaleX(1);
							visibility: visible;
						}
					}
				}
			}
		}
	}
}


.navbar-brand {
	height: 72px;
	line-height: 30px;
	padding-bottom: 21px;
	padding-top: 21px;
}
.navbar-default {
	background-color: #181214;
	border: none;

	.navbar-nav {
		> li {
			> a {
				color: $blanc;
				font-family: $montserratL;
				text-transform: uppercase;
				&:hover, &:focus, &.active {
					color: $blanc;
				}
			}
		}
		> .open {
			> a, > a:focus, > a:hover {
				background-color: $orange;
				color: $blanc;
			}
			.dropdown-menu {
				> li {
					> a {
						color: $blanc;
						&:hover, &:focus, &.active {
							background-color: $orange;
						}
					}
				}
			}
		}
	}

	.navbar-toggle {
		.icon-bar {
			background-color: #f6f6f6;
		}

		&:hover {
			background-color: $orange;
		}
	}
}
.navbar-collapse {
	border-top: none;
}
.navbar-toggle {
	border: none;
	border-radius: 0;
	margin-bottom: 20px;
	margin-top: 20px;
}
.dropdown-menu {
	background-color: #181214;
}