{% extends "layout.html.twig" %}


{% block title %}PasswordReset{% endblock %}


{% block content %}
    {% if errors is defined %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if token is defined %}
        <form action="/user/passwordReset/{{ token }}" method="post">
            <input type="hidden" name="ECCUserPasswordReset" value="formReset">
            <label for="ECCUserPasswordReset_passwd">Your password :</label>
            <input type="password" id="ECCUserPasswordReset_passwd" name="ECCUserPasswordReset_passwd" value="" placeholder="********">
            <label for="ECCUserPasswordReset_repasswd">Your password again :</label>
            <input type="password" id="ECCUserPasswordReset_repasswd" name="ECCUserPasswordReset_repasswd" value="" placeholder="********">

            <input type="submit" value="Reset">
        </form>
    {% else %}
        <form action="/user/passwordReset" method="post">
            <input type="hidden" name="ECCUserPasswordReset" value="form">
            <label for="ECCUserPasswordReset_email">Your e-mail adress :</label>
            <input type="text" id="ECCUserPasswordReset_email" name="ECCUserPasswordReset_email" value="{% if ECCUserPasswordReset_email is defined %}{{ ECCUserPasswordReset_email }}{% endif %}" placeholder="you@domain.tld">

            <input type="submit" value="Send me an email">
        </form>
    {% endif %}
    
    

    
{% endblock %}