{% extends "layout.html.twig" %}


{% block title %}PasswordReset{% endblock %}


{% block content %}
    {% if errors is defined %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/user/passwordReset" method="post">
        <input type="hidden" name="ECCUserPasswordReset" value="form">
        <label for="ECCUserPasswordReset_email">Your e-mail adress :</label>
        <input type="text" id="ECCUserPasswordReset_email" name="ECCUserPasswordReset_email" value="{% if ECCUserPasswordReset_email is defined %}{{ ECCUserPasswordReset_email }}{% endif %}" placeholder="you@domain.tld">

        <input type="submit" value="Reset">
    </form>
{% endblock %}