<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Changement de mot de passe</title>
</head>
<body>
<h1>Demande de Changement de mot de passe</h1>
Vous avez recevez ce mail suite à une demande de changement de mot de passe sur le site : <span id="site">[site]</span>.
<br/>
Si vous en êtes le demandeur, cliquez sur le lien suivant pour en gérer un nouveau.
<br/>
<a href="http://demo.evecorpcenter.dev:8888/user/passwordReset/reset?account=[account]&datemax=[dateMax]">Saisir un nouveau mot de passe</a>
</body>
</html>