<!DOCTYPE html>
<html lang="fr-FR">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/design/admin/stylesheets/styles.css" media="screen">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% include 'common/head.html.twig' %}

	{% block head %}{% endblock %}
</head>
<body>
{% include 'common/header.html.twig' %}

{{ path }}

{% block content %}{% endblock %}

{% include 'common/footer.html.twig' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script type="text/javascript" src="javascript/jquery.js"><\/script>')</script>
</body>
</html>