<!DOCTYPE html>
<html lang="fr-FR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="57x57" href="/themes/base/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/themes/base/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/themes/base/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/themes/base/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/themes/base/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/themes/base/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/themes/base/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/themes/base/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/themes/base/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/themes/base/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/themes/base/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/themes/base/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/themes/base/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/themes/base/manifest.json">
	<link rel="mask-icon" href="/themes/base/safari-pinned-tab.svg" color="#ed4524">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/themes/base/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ 'stylesheets/styles.css'|designPath }}" media="screen" charset="utf-8">

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% include 'common/head.html.twig' %}

	{% block head %}{% endblock %}
</head>
<body>
{% include 'common/header.html.twig' %}

{% block content %}{% endblock %}

{% include 'common/footer.html.twig' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script type="text/javascript" src="{{ 'javascript/jquery.min.js'|designPath }}"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="{{ 'javascript/ecc.min.js'|designPath }}"></script>
</body>
</html>